<div id="newspaper">
<script src="http://widgets.paper.li/javascripts/sr.embeddable.js" type="text/javascript"></script>
<script>
  Paperli.PaperFrame.Show({
    id: 'c76ad964-2cfe-48c6-8d8f-1edb5eaec9a7',
    width: 960,
    height: 920,
    background: '#ECECEC',
    borderColor: '#DDDDDD'
  })
</script>
</div>              
